@keyframes loading {
    0% {border-top-color: #746396}
    25% {border-right-color: #746396}
    50% {border-bottom-color: #746396}
    75% {border-left-color: #746396}
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.loading-text {
    font-size: x-large;
    font-weight: 900;
    color: #232323;
}

.loading-box {
    width: 100px;
    height: 100px;
    border: 8px solid lightsteelblue;
    border-radius: 50%;
    animation-name: loading;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}